{:paths ["src" "resources"  ]
 :deps {io.forward/yaml      {:mvn/version "1.0.9" :exclusions [org.flatland/ordered]}
        org.flatland/ordered {:mvn/version "1.5.7"}
        org.clojure/clojure  {:mvn/version "1.10.0"}
        instaparse           {:mvn/version"1.4.8"}}

 :aliases
 {:jar
  {:extra-deps
   {luchiniatwork/cambada {:mvn/version "1.0.0"}}
   :main-opts ["-m" "cambada.jar"
               "-m" "jute.core"
               "--app-group-id" "com.health-samurai"
               "--app-artifact-id" "jute"
               "--app-version" "0.1.0-SNAPSHOT"]}

  :deploy
  {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "target/jute-0.1.0-SNAPSHOT.jar"]}


  :cljs
  {:extra-deps
   {org.clojure/clojurescript     {:mvn/version "1.10.520"}}}

  :nrepl
  {:extra-deps
   {spyscope                      {:mvn/version "0.1.6"}
    org.clojure/clojure           {:mvn/version "1.10.0-RC4"}
    org.clojure/tools.nrepl       {:mvn/version "0.2.13"}
    cider/cider-nrepl             {:mvn/version "0.22.3"}
    refactor-nrepl/refactor-nrepl {:mvn/version "2.4.0-SNAPSHOT"}}
   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :extra-paths ["dev"]}

  :test {:extra-paths ["test"]}

  :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
           :main-opts ["-m" "runner"]}}}
