{:paths ["src" "resources"]
 :deps {io.forward/yaml      {:mvn/version "1.0.11" :exclusions [org.flatland/ordered]}
        org.flatland/ordered {:mvn/version "1.15.10"}
        org.clojure/clojure  {:mvn/version "1.11.1"}
        instaparse/instaparse {:mvn/version "1.4.12"}}

 :aliases
 {:jar
  {:extra-deps
   {luchiniatwork/cambada {:mvn/version "1.0.5"}}
   :main-opts ["-m" "cambada.jar"
               "-m" "jute.core"
               "--app-group-id" "com.health-samurai"
               "--app-artifact-id" "jute"
               "--app-version" "0.2.0-SNAPSHOT"]}

  :deploy
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "RELEASE"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "target/jute-0.2.0-SNAPSHOT.jar"]}

  :cljs
  {:extra-deps
   {org.clojure/clojurescript     {:mvn/version "1.11.60"}}}

  :eastwood
  {:main-opts ["-m" "eastwood.lint" {:continue-on-exception true}]
   :extra-deps {jonase/eastwood {:mvn/version "1.3.0"}}}

  :kibit
  {:extra-deps {jonase/kibit {:mvn/version "0.1.8"}}
   :main-opts ["-e"
               "(require,'[kibit.driver,:as,k]),(k/external-run,[\"src\"],nil)"]}


  :nrepl
  {:extra-deps
   {spyscope/spyscope             {:mvn/version "0.1.6"}
    org.clojure/tools.nrepl       {:mvn/version "0.2.13"}
    cider/cider-nrepl             {:mvn/version "0.28.7"}
    refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}
   :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
   :extra-paths ["dev"]}

  :test {:extra-paths ["test"]}

  :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
           :main-opts ["-m" "runner"]}}}
